/* 
justify-content: flex-end;
justify-content: center;
justify-content: space-around;
justify-content: space-between;
align-items: flex-end;
align-items: center; justify-content: center;
align-items: flex-end; justify-content: space-around;
flex-direction: row-reverse;
flex-direction: column;
flex-direction: row-reverse; justify-content: flex-end;
justify-content: flex-end;  flex-direction: column;
flex-direction: column-reverse; justify-content: space-between;
flex-direction: row-reverse; justify-content: center; align-items: flex-end;
order: 3;
order: -3;
align-self: flex-end;
align-self: flex-end; order: 1;
flex-wrap: wrap;
flex-direction: column; flex-wrap: wrap;
flex-direction: column; flex-wrap: wrap;
align-content: flex-start;
align-content: flex-end;
flex-direction: column-reverse; align-content: center;
flex-flow:column-reverse wrap-reverse; justify-content:center; align-content:space-between;

*/
