* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  color: #fff;
  font-size: 20px;
}

body {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  display: grid;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px #333;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #713c87;
  padding: 15px;
}

.navbar form input {
  color: #333;
  padding: 10px;
  border: 1px solid #713c87;
  border-radius: 5px;
  width: 300px;
}

main {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
  padding: 10px;
}

.video {
  display: grid;
  padding: 10px;
  text-decoration: none;
}

.video img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.video-title {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
}

.video-player {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding: 20px;
}

.footer {
  background-color: #713c87;
  padding: 20px;
  text-align: center;
}

.footer p {
  text-shadow: 2px 2px #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section p {
  color: #333;
  text-align: center;
  font-weight: 800;
  padding: 30px;
  font-size: 30px;
}

/* Mobile */

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 25px;
  }

  .video-player {
    max-width: none;
    padding: 5px;
  }

  section p {
    padding: 10px;
  }

  .footer {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .navbar form input {
    width: 150px;
  }
}
